@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  scroll-margin: 20;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.025em;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
    line-height: 1;
  }
}

h2 {
  scroll-margin: 20;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  border-bottom-width: 1px;
  border-bottom: 80%;
  padding-bottom: 2px;
}

h2:first-child {
  margin-top: 0;
}

h3 {
  scroll-margin: 20;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}

h4 {
  scroll-margin: 20;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}

p {
  line-height: 1.75rem;
}

p:not(:first-child) {
  margin-top: 1.5rem;
}

ul {
  margin: 6px 0 6px 6px;
  list-style-type: disc;
}

ul > li {
  margin-top: 0.5rem;
}

table {
  width: 100%;
}

table > thead > tr {
  margin: 0;
  border-top-width: 1px;
  padding: 0;
}

table > thead > tr:nth-child(even) {
  background-color: var(--tw-bg-muted);
}

table > thead > tr > th {
  border-width: 1px;
  padding: 4px 2px 4px 2px;
  text-align: left;
  font-weight: 700;
}

th[align="center"] {
  text-align: center;
}

th[align="right"] {
  text-align: right;
}

table > tbody > tr > td {
  border-width: 1px;
  padding: 4px 2px 4px 2px;
  text-align: left;
}
td[align="center"] {
  text-align: center;
}

td[align="right"] {
  text-align: right;
}

.lead {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--tw-text-muted-foreground);
}

.large {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.small {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  line-height: 1;
}

.muted {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--tw-text-muted-foreground);
}

.quote {
  margin-top: 6px;
  border-left-width: 2px;
  padding-left: 6px;
  font-style: italic;
}

Link {
  cursor: pointer;
}

.footer {
  border-color: linear-gradient(
    90deg,
    rgb(194 65 12) 0%,
    rgb(234 88 12) 49%,
    rgb(249 115 22) 100%
  );
}

@keyframes product-image-slidein {
  from {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
}

.product-image-slidein {
  animation: product-image-slidein 1.5s ease-out;
}

@keyframes text-slidein {
  from {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }
}

.text-slidein {
  animation: text-slidein 3s ease-out;
}

body {
  
}
